name: Build

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Install dependencies
        run: python -m pip install --upgrade pip flake8

      - name: Run linter
        run: flake8 --ignore=D,W,E,F401,F403,F405,F841,N,A002 --max-line-length=120 --exclude=.tox .
